@model OrderListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="whiteBackground border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Order History List</h2>
        </div>
        <div class="col-6 text-right">

        </div>
    </div>
    <div>

        @if (Model.Orders.Count() == 0)
        {<p class="text-danger">No Order History........</p>}
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickUpName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.ApplicationUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickUpTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)
                    </th>
                    <th>
                        Total Items
                    </th>
                    <th></th>
                    <th></th>

                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.PickUpName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.PickUpTime)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.OrderDetails.Count)
                        </td>
                        <td>

                            <button type="button" class="btn btn-success showDetails" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                <i class="fas fa-list-alt"></i>  Details
                            </button>

                            @if (item.OrderHeader.Status == SD.StatusSubmitted || item.OrderHeader.Status == SD.StatusInProcess
                          || item.OrderHeader.Status == SD.StatusCompleted || item.OrderHeader.Status == SD.StatusResdy)
                            {
                                <button type="button" class="btn btn-info showStatus" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                    <i class="fas fa-clock"></i>  Status
                                </button>
                            }
                        </td>
                    </tr>
                }
            </table>

            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info action" class="btn-group float-right"></div>
            <br />
        }
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" style=" max-width: 70%; margin: 1.75rem auto;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title"> Order Status</h5>
            </div>
            <div class="modal-body justify-content-center " id="myModalContent">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" style="width:20%" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myOrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" style=" max-width: 70%; margin: 1.75rem auto;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light justify-content-center">
                <h5 class="modal-title"> Order Status</h5>
            </div>
            <div class="modal-body justify-content-center " id="myOrderStatusContent">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" style="width:20%" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>




@section SCripts{
    <script>

        var URL = '/Customer/Orders/GetOrderDetails';
        var urlOrderStatus = '/Customer/Orders/GetOrderStatus';
        $(function () {


            // خاص بعملية show Datails
            $(".showDetails").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax(
                    {
                        type: "Get",
                        url: URL,
                        contentType: "text/html;charset=utf-8",
                        data: { "id": id },
                        cache: false,
                        dataType: "html",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic  content Load Faild");
                        }
                    }
                );
            });



            $(".showStatus").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax(
                    {
                        type: "Get",
                        url: urlOrderStatus,
                        contentType: "text/html;charset=utf-8",
                        data: { "id": id },
                        cache: false,
                        dataType: "html",
                        success: function (data) {
                            $('myOrderStatusContent').html(data);
                            $('#myOrderStatus').modal('show');

                        },
                        error: function () {
                            alert("Dynamic  content Load Faild");
                        }
                    }
                );
            });







        });
    </script>

}